@use "sass:math";

@import "custom/components/animation";

.modal-backdrop {
  opacity: 0.5;
}

.modal-header,
.alert {
  .close {
    padding: 0.3rem 1.75rem;
    background: transparent;
    border: 0;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.4;
    width: 1em;
    height: 1em;
    z-index: 2;

    button {
      display: none;
    }
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.vhd__datepicker__input {
  height: $input-height !important;
  line-height: $input-height !important;
}

.form-check {
  .custom-control-input {
    border-radius: 0.25em;
    float: left;
    margin: 3px 3px 3px -19px !important;
  }
}

.check-group {
  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
}

.vue-simple-drawer {
  background: $gray-100 !important;
  color: $gray-800 !important;

  .close-btn {
    .leftright,
    .rightleft {
      width: 20px !important;
      background-color: $gray-600 !important;
    }
  }
}

body {
  * {
    outline: none;
  }
}

.b-form-btn-label-control {
  padding: 0;
  border: none;

  > .btn {
    position: absolute;
    right: 0;
    top: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

.vue-simple-drawer {
  // default style
  padding: 20px;
  color: $--simple-drawer-fg-color;
  background: $--simple-drawer-bg-color;
  // common
  position: fixed;
  overflow: auto;

  &.closeable {
    padding-top: 40px;
  }

  &.left {
    left: 0;
    top: 0;
    bottom: 0;
  }

  &.right {
    right: 0;
    top: 0;
    bottom: 0;
  }

  &.up {
    top: 0;
    left: 0;
    right: 0;
  }

  &.down {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .close-btn {
    width: $--simple-drawer-close-width;
    height: $--simple-drawer-close-width;
    position: absolute;
    right: 0;
    top: 20px;
    transform: translate(-50%, -50%);
    color: currentColor;
    font-size: 20px;
    cursor: pointer;
    user-select: none;

    .leftright {
      height: 4px;
      width: $--simple-drawer-close-width;
      position: absolute;
      margin-top: math.div($--simple-drawer-close-width, 2);
      background-color: $--simple-drawer-softorange;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.3s ease-in;
    }

    .rightleft {
      height: 4px;
      width: $--simple-drawer-close-width;
      position: absolute;
      margin-top: math.div($--simple-drawer-close-width, 2);
      background-color: $--simple-drawer-softorange;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all 0.3s ease-in;
    }

    .close {
      margin: 60px 0 0 5px;
      position: absolute;
    }

    &:hover .leftright {
      transform: rotate(-45deg);
      background-color: $--simple-drawer-tomatored;
    }

    &:hover .rightleft {
      transform: rotate(45deg);
      background-color: $--simple-drawer-tomatored;
    }
  }
}

.mask {
  position: fixed;
  background: grey;
  opacity: 0.5;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.slider-tooltip,
.slider-connect {
  background: $primary;
}

// modal
.v-modal-custom {
  .modal-dialog {
    .modal-content {
      z-index: 1056;
    }
  }

  .v-modal-footer {
    padding: var(--vz-modal-padding) 0 0;
  }
}

.dropdown-toggle::after {
  display: none;
}

.overflow-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.overflow-text-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-text-line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content {
  height: 100vh;
  overflow: auto;
}
.footer {
  z-index: 3;
}

.swal2-modal {
  max-width: 30rem !important;
  .swal2-icon {
    width: 4rem !important;
    height: 4rem !important;
    .swal2-icon-content {
      font-size: 2.5rem !important;
    }
  }
  .swal2-actions {
    button {
      font-size: 0.85rem !important;
    }
  }
}

.dropdown-item {
  &.active {
    background-color: rgba($color: $primary, $alpha: 0.2);
  }
}

.date-picker {
  font-weight: 700;
  color: rgba(#2a3042, 0.8);
}

.ck-content {
  height: 350px !important;
}

.table_hover {
  tbody {
    tr:hover {
      background-color: rgba($color: $primary, $alpha: 0.1);
      cursor: pointer;
    }
  }
}
